body{
    margin: 0;
}

hr {
    margin: 0;
    font-weight: bold;
}

.navBar {
    background-color: #46a88e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar div {
    border: 1px solid rgb(13, 139, 133);
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navBar div a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.3s;
}
.navBar div a.activeClass {
    color: #192621;
}
.navBar div a:hover {
    opacity: 0.3
}

.navDeliver {
    flex: 1;
}

.navHeader {
    flex: 1;
}

.navAddShop {
    flex: 1;
}

.navAddShop2 {
    flex: 1;
}



